parameters:
  level: max
  paths:
    - app
    - tests
  excludes_analyse:
    - app/Config/*
    - app/Views/errors/*
  bootstrapFiles:
    - vendor/codeigniter4/codeigniter4/system/Test/bootstrap.php
