.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-osx-font-smoothing: grayscale;
}

.close:focus {
    outline: none;
}

.modal-btn-ok {
    background-color: #FFFFFF;
    color: #2699FB;
    border: 3px solid #2699FB;
    border-radius: 20px;
    font-weight: bold;
    padding: 5px 40px 5px 40px;
}

.modal-btn-cancel {
    background-color: #FFDD1F;
    color: #555555;
    border: 3px solid #FFDD1F;
    border-radius: 20px;
    font-weight: bold;
    padding: 5px 40px 5px 40px;
}

.modal-open {
    overflow: auto;
    padding-right: 0 !important;
}

.modal-confirm {		
    color: #434e65;
}

.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header-error, .modal-confirm .modal-header-success{
    border-bottom: none;   
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.modal-confirm .modal-header-error {
    background: #e85e6c;
}

.modal-confirm .modal-header-success {
    background: #47c9a2;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}

.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
}

.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
    outline: none;
}

.modal-confirm .close:hover {
    opacity: 0.8;
}

.modal-confirm .icon-box {
    color: #fff;		
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.modal-confirm .icon-box i {
    font-size: 58px;
    margin: -2px 0 0 -2px;
}

.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #eeb711;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    min-width: 150px;
    border: none;
}

.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #eda645;
    outline: none;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}